.button {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  color: @dark-color;
  text-align: center;
  background-color: @items-bg-color;
  text-transform: uppercase;
}

.button--green {
  color: @main-color;
  background-color: @app-bg-color;
}
