.contact-us {
  padding-top: 30px;
}

.contact-us__info {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 26px;
}

.contact-us__title {
  margin: 0;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  color: @dark-color;
  font-weight: normal;
  text-transform: uppercase;
}

.contact-us__address {
  width: 50%;
  padding-left: 2px;

  font-size: 14px;
  line-height: 20px;
  font-family: @second-font;
  color: @lightdark-color;
}

.contact-us__street {
  margin: 0;
}

.contact-us__city {
  margin: 0;
}

.contact-us iframe {
  display: block;
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  text-align: center;
}
