.gift {
  margin: 0 auto 35px;
  padding-top: 66px;
  width: 87.5%;
  text-align: center;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-color: @app-bg-color;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .gift {
    margin-bottom: 76px;
    padding: 66px 121px 72px 92px;
    width: 92.5%;
    text-align: left;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .gift {
    margin-top: -354px;
    margin-right: 40px;
    margin-bottom: 87px;
    padding: 65px 40px 0;

    width: 245px;
    min-height: 289px;
    text-align: center;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }
}

.gift__img {
  fill: @main-color;
}

.gift__text {
  margin: 0 auto;
  padding: 59px 0 42px;

  width: 165px;
  text-align: center;
  color: @main-color;
  font-size: 16px;
  line-height: 20px;
  font-family: @second-font;
}

@media (min-width: @tablet-width) {
  .gift__text {
    display: inline-block;
    padding: 0;
    padding-top: 6px;
    float: right;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .gift__text {
    display: inline-block;
    padding: 0;
    padding-top: 58px;
    float: none;

    text-align: center;
  }
}