.gift {
  margin: 0 auto 35px;
  padding-top: 66px;
  text-align: center;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-color: @app-bg-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: @retina-dpi),
  (min-resolution: @retina-dppx) {
  .gift {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .gift {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
    padding: 66px 121px 68px 92px;
    width: 100%;
    text-align: left;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
    .gift {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .gift {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 87px;
    padding: 65px 0 0;

    width: 245px;
    min-height: 289px;
    text-align: center;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .gift {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.gift__img {
  fill: @main-color;
}

.gift__text {
  margin: 0 auto;
  padding: 59px 0 42px;

  width: 165px;
  text-align: center;
  color: @main-color;
  font-size: 16px;
  line-height: 20px;
  font-family: @second-font;
}

@media (min-width: @tablet-width) {
  .gift__text {
    margin: 0;
    padding: 0;
    padding-top: 6px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .gift__text {
    padding-top: 58px;
    text-align: center;
  }
}
