.gift {
  margin: 0 auto;
  width: 87.5%;
  text-align: center;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-color: @app-bg-color;
}

.gift__img {
  fill: @main-color;
}

.gift__text {
  width: 50%;
  text-align: center;
  color: @main-color;
  font-size: 16px;
  line-height: 20px;
  font-family: @second-font;
}