.how-it-works {
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .how-it-works {
    margin: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .how-it-works {
    margin: 0 40px;
  }
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: @dark-color;
}

@media (min-width: @tablet-width) {
  .how-it-works__title {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .how-it-works__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .how-it-works__list {
    flex-wrap: nowrap;
  }
}

.how-it-works__item {
  display: flex;
  margin-bottom: 20px;

  color: @lightdark-color;
  font-family: @second-font;

  &::before {
    content: "";
    margin-right: 20px;

    width: 60px;
    height: 60px;
    flex-shrink: 0;

    background-color: @app-bg-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--nutrients::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }

  &--nutrition::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }

  &--effect::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

@media (min-width: @tablet-width) {
  .how-it-works__item {
    flex-direction: column;
    width: 46%;
    min-height: 233px;
    margin-bottom: 85px;
  }
}

@media (min-width: @desktop-width) {
  .how-it-works__item {
    margin-right: 87px;
    width: 240px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @tablet-width) {
  .how-it-works__item::before {
    margin-bottom: 34px;
    width: 80px;
    height: 80px;
  }
}

.how-it-works__item p {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .how-it-works__item p {
    margin: 0;
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
