.how-it-works {
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .how-it-works {
    margin-left: 30px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .how-it-works {
    margin: 0 40px;
  }
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 32px;

  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: @dark-color;
}

@media (min-width: @tablet-width) {
  .how-it-works__title {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .how-it-works__list {
    counter-reset: howitwork;
  }
}

.how-it-works__item {
  position: relative;
  counter-increment: howitwork;
  display: block;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-left: 80px;
  padding-bottom: 3px;
  min-height: 60px;
  color: @lightdark-color;
  font-family: @second-font;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    margin-right: 20px;

    width: 60px;
    height: 60px;
    flex-shrink: 0;

    background-color: @app-bg-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--nutrients::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }

  &--nutrition::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }

  &--effect::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

@media (min-width: @tablet-width) {
  .how-it-works__item {
    display: inline-block;
    width: 31%;
    min-height: 254px;
    margin-right: 151px;
    margin-bottom: 62px;
    padding-top: 111px;
    padding-left: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      content: counter(howitwork);
      top: 0;
      left: 52%;
      text-align: left;
      z-index: -1;

      margin-top: -40px;
      color: @items-bg-color;
      font-size: 281px;
      font-family: @main-font;
      line-height: 281px;
    }
  }
}

@media (min-width: @desktop-width) {
  .how-it-works__item {
    width: 18%;
    margin-right: 102px;
  }

  .how-it-works__item:nth-child(2n) {
    margin-right: 102px;
  }

  .how-it-works__item:nth-child(4n) {
    margin-right: 0;
  }
}

.how-it-works__item p {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .how-it-works__item p {
    margin: 0;
    width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
