.page-header {
  position: relative;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 30px;
    min-height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin-top: 53px;
    padding: 0 110px;
    min-height: 60px;
  }
}

.page-header__logo {
  padding: 11px 0 10px;
  display: inline-block;
  vertical-align: top;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    padding: 0;
  }
}
