.page-footer {
  padding: 3px 20px 32px;
  background-color: @items-bg-color;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    padding: 0 30px 0;
    justify-content: center;
    align-items: center;
    min-height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 0 40px 0;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__logo {
    justify-content: flex-start;
    width: 33.333333%;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__social {
    width: 33.333333%;
  }
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 64px;

  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: @tablet-width) {
  .social__list {
    margin: auto 0;
    border: 0;
    min-height: 34px;
  }
}

.social__item {
  margin-right: 25px;
  width: 32px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: @tablet-width) {
  .social__item {
    margin-right: 15px;
    width: 40px;
  }
}

.social__link {
  display: block;
  padding: 5px;
  font-size: 0;
  line-height: 1px;
  background-repeat: no-repeat;
  background-position: center;

  svg {
    vertical-align: middle;
  }

  :hover,
  :focus {
    fill: @app-bg-color;
  }

  :focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__link {
    &--vkontakte svg{
      width: 30px;
      height: 16px;
    }

    &--instagram svg{
      width: 23px;
      height: 23px;
    }

    &--facebook svg{
      width: 14px;
      height: 28px;
    }
  }
}

.developer {
  display: flex;
  justify-content: space-between;
  margin: 17px 0 0;
}

@media (min-width: @tablet-width) {
  .developer {
    justify-content: flex-end;
    margin: 0;
    width: 33.333333%;
  }
}

.developer__title {
  display: flex;
  align-items: center;

  color: @lightdark-color;
  font-family: @second-font;
  font-size: 16px;
  line-height: 16px;

  :focus {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .developer__title {
    padding-right: 20px;
  }
}

.developer__logo {
  margin-right: -8px;
  width: 42px;
  height: 42px;
}

.developer__logo svg {
  :hover,
  :focus {
    fill: @app-bg-color;
  }

  :focus {
    opacity: 0.3;
  }
}
