.page-header {
  position: relative;
  margin: 0 20px;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    margin: 24px 0 50px;
    padding: 0 30px;
    min-height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin-top: 53px;
    padding: 0 40px;
    min-height: 60px;
  }
}

.page-header__logo {
  padding: 12px 0 15px;
  display: inline-block;
  vertical-align: top;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    margin: auto 0;
    padding: 0;

    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    padding: 0;
  }
}
