.products {
  width: 100%;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .products {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .products {
    margin-top: 75px;
    padding: 0 40px;
  }
}

.products__header {
  margin: 0;
  margin-bottom: 28px;
  padding-top: 16px;
  min-height: 55px;

  font-size: 36px;
  line-height: 60px;
  color: @dark-color;
  border-top: @border;
}

@media (min-width: @tablet-width) {
  .products__header {
    margin-bottom: 82px;
    padding: 0;

    font-size: 60px;
    border: none;
  }
}

.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.products__item {
  display: flex;
  flex-wrap: wrap;
  min-height: 184px;
  margin-bottom: 25px;

  border-top: @border;
}

@media (min-width: @tablet-width) {
  .products__item {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 16%;
    margin-bottom: 60px;
    padding: 0 35px 40px;
    width: 42%;
    min-height: 515px;

    background-image: linear-gradient(to bottom, transparent 0, transparent 81px, @items-bg-color 82px, @items-bg-color 515px);
    border: none;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .products__item {
    width: 20%;
    margin-right: 7%;

    &:nth-child(2n) {
      margin-right: 6%;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.products__image {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .products__image {
    margin: 0 auto 37px;
    min-height: 208px;
  }
}

.products__descr {
  width: 50%;
}

@media (min-width: @tablet-width) {
  .products__descr {
    width: 100%;
  }
}

.products__title {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 9px;
  margin-right: 65px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @dark-color;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .products__title {
    margin: 0 0 17px;
    padding: 0 55px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .products__title {
    padding: 0 20px 0;
  }
}

.products__table {
  width: 100%;

  font-family: @second-font;
  font-size: 12px;
  line-height: 16px;
  color: @lightdark-color;
}

@media (min-width: @tablet-width) {
  .products__table {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (min-width: @tablet-width) {
  .products__table td {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 50%;
    border-bottom: @darker-border;
  }
}

.products__table td:nth-child(2n) {
  text-align: right;
}

.products__show-more {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 25px;

  text-align: center;
}

.products__show-more-title {
  margin-top: 10px;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 20px;
  color: @dark-color;
  text-transform: uppercase;
}

.products__show-more-text {
  font-size: 12px;
  line-height: 16px;
  color: @lightdark-color;
  font-family: @second-font;
}

@media (min-width: @tablet-width) {
  .products__show-more {
    margin-top: 82px;
    margin-right: 0;
    margin-bottom: 55px;
    padding: 55px 34px 40px;
    width: 42%;
    min-height: 432px;
    border: @border;
  }
}

@media (min-width: @tablet-width) {
  .products__show-more-title {
    margin-top: 48px;
    margin-bottom: 26px;
    font-size: 20px;
  }
}

@media (min-width: @tablet-width) {
  .products__show-more-text {
    margin-top: 0;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .products__show-more {
    width: 20%;
  }
}

@media (min-width: @desktop-width) {
  .products__show-more-text {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.products__btn-plus {
  margin: 0 auto;
  width: 31px;
  height: 31px;
  font-size: 0;

  background-image: url("../../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .products__btn-plus {
    width: 61px;
    height: 61px;
  }
}

@media (min-width: @tablet-width) {
  .products__btn {
    margin-top: auto;
  }
}
