.promo {
  min-height: 305px;
  margin: 0 auto 23px;
  padding-left: 20px;
  padding-right: 20px;

  background: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, @app-bg-color 0, @app-bg-color 305px, transparent 306px, transparent 405px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .promo {
      background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(to left, @app-bg-color 0, @app-bg-color 50%, transparent 50%, transparent 100%);
    }
  }
}

@media (min-width: @tablet-width) {
  .promo {
    margin-bottom: 0;
    position: relative;
    padding: 0;
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin: -115px auto 80px;
    padding-bottom: 55px;

    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to left, @app-bg-color 0, @app-bg-color 50%, transparent 50%, transparent 100%);
    background-repeat: no-repeat;
    background-position: top right, 0 -65px;
    background-size: 50%, 100%;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .promo {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to left, @app-bg-color 0, @app-bg-color 50%, transparent 50%, transparent 100%);
    }
  }
}

.promo__title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 25px;

  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
  color: @main-color;
}

@media (min-width: @tablet-width) {
  .promo__title {
    padding-top: 7px;
    padding-left: 119px;
    padding-bottom: 40px;
    padding-right: 80px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @dark-color;
  }
}

@media (min-width: @desktop-width) {
  .promo__title {
    padding-top: 224px;
    padding-right: 50%;
    padding-left: 190px;
  }
}

.promo__item {
  margin: 0;
  padding-bottom: 28px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @main-color;
}

@media (min-width: @tablet-width) {
  .promo__item {
    padding-left: 119px;
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @dark-color;
  }
}

@media (min-width: @desktop-width) {
  .promo__item {
    padding-bottom: 40px;
    padding-right: 50%;
    padding-left: 190px;
  }
}

.promo__main-image {
  display: block;
  margin: 0 auto;
}

@media (min-width: @desktop-width) {
  .promo__main-image {
    margin-top: -300px;
    margin-right: 327px;
  }
}

.promo__button {
  margin-top: 3px;
}

@media (min-width: @tablet-width) {
  .promo__button {
    position: absolute;
    z-index: 10;
    top: 232px;
    left: 119px;
  }
}

@media (min-width: @desktop-width) {
  .promo__button {
    top: 455px;
    left: 190px;
  }
}


.promo a {
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: @tablet-width) {
  .promo a {
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
