.promo {
  min-height: 305px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;

  background: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, @app-bg-color 0, @app-bg-color 305px, transparent 306px, transparent 405px);
  background-repeat: no-repeat;
  background-position: top;
}

@media (min-width: @tablet-width) {
  .promo {
    padding: 0;
    padding-left: 119px;
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin-top: -165px;
    margin-bottom: 80px;
    padding-left: 120px;
    min-height: 696px;

    background-image: linear-gradient(to left, @app-bg-color 0, @app-bg-color 50%, transparent 50%, transparent 100%);
    background-position-y: -200px;
  }
}

.promo__title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 24px;

  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
  color: @main-color;
}

@media (min-width: @tablet-width) {
  .promo__title {
    padding-top: 7px;
    padding-bottom: 40px;
    width: 415px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @dark-color;
  }
}

@media (min-width: @desktop-width) {
  .promo__title {
    padding-top: 222px;
  }
}

.promo__item {
  margin: 0;
  padding-bottom: 28px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @main-color;
}

@media (min-width: @tablet-width) {
  .promo__item {
    padding-bottom: 33px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @dark-color;
  }
}

@media (min-width: @desktop-width) {
  .promo__item {
    padding-bottom: 40px;
  }
}

.promo__main-image {
  display: block;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .promo__main-image {
    position: relative;
  }
}

.promo__button {
  margin-top: 4px;
}

@media (min-width: @tablet-width) {
  .promo__button {
    position: relative;
    z-index: 10;
    top: -259px;
  }
}

@media (min-width: @tablet-width) {
  .promo a {
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .promo a {
    width: 245px;
  }
}
