@main-color: #ffffff;
@dark-color: #111111;
@lightdark-color: #444444;
@app-bg-color: #68b738;
@items-bg-color: #f2f2f2;
@tablet-width: 768px;
@desktop-width: 1200px;
@ArialMT: ArialMT;
@border: 1px solid #0000001a;
