@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-width-only: 767px;
@main-color: #ffffff;
@dark-color: #111111;
@lightdark-color: #444444;
@text-form-color: #222222;
@app-bg-color: #68b738;
@hovapp-bg-color: #5eaa2f;
@items-bg-color: #f2f2f2;
@error-color: #ff8282;
@hovitems-bg-color: #ebebeb;
@main-font: "Oswald", Arial, sans-serif;
@second-font: "ArialMT";
@form-border: 1px solid rgba(0, 0, 0, 0.102);
@darker-border: 1px solid #444444;
@border: 1px solid #cdcdcd;
@form-input: 1px solid rgba(205, 205, 205, 0.5);
@form-input-active: 2px solid #444444;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

